* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  /* max-width: 400px; */
  margin: 0 auto;
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  /* border: 2px solid red; */
  background: white;
  box-shadow: rgba(0, 0, 0, 0.075) 0 1px;
  height: 60px;
  width: 100%;
  z-index: 6;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-menu-title {
  /* border: 2px solid red; */
  width: 20vw;
  text-align: center;
}

.header-menu-links {
  /* border: 2px solid red; */
  width: 60vw;
}

.menu-links {
  display: flex;
  justify-content: space-evenly;
}

.header-menu-buttons {
  /* border: 2px solid red; */
  width: 20vw;
  text-align: center;
}
